
    <div class="col-6" style="color:white;">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" maxlength="10" id="floatingInput" placeholder="Grupa (litere mici si fara spatiu.Ex: slsi31)" name="grupa">
            <label for="floatingInput">Nume nou</label>
        </div>
        > Litere mici și fără spații. Exemplu: slsi31 <br>
        > Obligatoriu litere, opțional și cifre.
    </div>
    
   
   <div class="col-12 d-grid">
       <button class="btn btn-primary" type="submit">Submit</button>
   </div>