


<footer class="footer">
    <div class="footer-colorbar"><span></span></div>
    
    <div class="container bottom_border">
        <div class="row">
            <div class=" col-sm-4 col-md col-sm-4  col-12 col">
                
            </div>



            <div class=" col-sm-10 col-md  col-24 col">
                <p>"Proiectarea și realizarea unei aplicații web de tip Student Management"
                Universitatea Națională de Apărare "Carol I"
                Facultatea de Securitate și Apărare
                Ibrian Mihai-Răzvan
                Grupa SLSI 31
                2022</p>
            </div>



            <div class=" col-sm-4 col-md  col-6 col">
               
            </div>
        </div>
    </div>

</footer>
