<nav class="navbar">
            
        <div class="burger">
            <div id="line1" class="block"></div>
            <div id="line2" class="block"></div>
            <div id="line3" class="block"></div>
        </div>

        <div id="nav-logo">
            <a href="/index"><h4>STUAp</h4></a>
        </div>
        
        <div class="wrapper">
            <ul class="nav-links">
                    <li><a href="/orar">ORAR</a></li>
                    <li><a href="/catalog">CATALOG</a></li>
                    <li><a href="/secretariat">SECRETARIAT</a></li>
                    <li><a href="/biblioteca">BIBLIOTECA</a></li>
                    <li><a href="/financiar">FINANCIAR</a></li>
                    <!--<li><a href="#">ANUNTURI</a></li>
                    <li><a href="#">EVENIMENTE</a></li>
                    <li><a href="#">NOTITE</a></li>-->
                    <li><a href="/profile">PROFIL</a></li>
            </ul>
        </div>
        
        
            
    </nav>
    <div class="header-colorbar"><span></span></div>