<section class="grid">

    <div id="text-secretariat">
        <h1>Despre</h1>
        <br>

        <div class="facultatea">
            <h3>Motivația...</h3>
            <h4>Pentru a aduce un plus de eficiență în ceea ce privește desfășurarea unor activități comune realizate de către studenți în cadrul facultății lor, dar și în viața studențească per total, este nevoie de automatizarea acestor procese; astfel apare necesitatea unei aplicații care să le includă, să minimalizeze timpul necesar desfășurării lor și birocrația redundantă aferentă, cât și să ofere utilizatorilor o interfață simplă și ușor de folosit.
            </h4>
        </div>

        <h4 style="text-align:right;">- Ibrian Mihai-Răzvan</h4>
    </div>
    
    <div>
        <img src="/images/logo.svg" id="page-logo" alt="logo">
    </div>

</section>



