<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/catalog">Catalog</a></li>
    <li class="breadcrumb-item active" aria-current="page" style="color:white;">Edit catalog</li>
  </ol>
</nav>

{{#if alert}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{alert}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

{{#if eroare}}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{eroare}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{{/if}}

<h3 style="color:white;">Nume actual: {{catalog}}</h3>

<form class="row g-3 needs-validation" method="POST" action="/catalog-edit/{{catalog}}" novalidate>
  {{> catalog-form}}
</form>