
<section class="grid">

    {{#if user}}
        <div id="greeting">
            <h1 id="greetingH1">Bine ai venit {{user.prenume}} </h1>
        </div>
    {{else}}
        <div id="greeting">
            <h1 id="greetingH1">Bine ai venit.</h1>
        </div>
    {{/if}}

    <div>
        <img src="/images/logo.svg" id="page-logo" alt="logo">
    </div>

</section>



