<div class="registerdiv">
    <div class="registerform">
        <div class="title">Register</div>
        <div class="card-body">

            <form action="/auth/register" method="POST">
                <div class="input-container ic1">
                    <input type="text" class="input" id="facultate" name="facultate" placeholder=" ">
                    <div class="cut"></div>
                    <label for="facultate" class="placeholder">Facultate</label>
                </div>

                <div class="input-container ic1">
                    <input type="text" class="input" id="grupa" name="grupa" placeholder=" ">
                    <div class="cut"></div>
                    <label for="grupa" class="placeholder">Grupa</label>
                </div>

                <div class="input-container ic1">
                    <input type="text" class="input" id="name" name="name" placeholder=" ">
                    <div class="cut"></div>
                    <label for="name" class="placeholder">Nume</label>
                </div>

                <div class="input-container ic1">
                    <input type="text" class="input" id="prenume" name="prenume" placeholder=" ">
                    <div class="cut"></div>
                    <label for="prenume" class="placeholder">Prenume</label>
                </div>

                <div class="input-container ic2">
                    <input type="email" class="input" id="email" name="email" placeholder=" ">
                    <div class="cut"></div>
                    <label for="email" class="placeholder">Email</label>    
                </div>

                
                <div class="input-container ic2">
                    <input type="password" class="input" id="password" name="password" placeholder=" ">
                    <div class="cut"></div>
                    <label for="password" class="placeholder">Password</label>
                </div>

                <div class="input-container ic2">
                    <input type="password" class="input" id="passwordConfirm" name="passwordConfirm" placeholder=" ">
                    <div class="cut"></div>
                    <label for="passwordConfirm" class="placeholder">Confirm password</label>
                </div>

                <br>
                <button type="submit" class="submit">Register</button>
            </form>

            <br><br>
            {{#if message}}
                <h4 class="error-message">{{message}}</h4>
            {{/if}}
            {{#if succesMessage}}
                <h4 class="error-message">{{succesMessage}}<h3><a href="/index" class="login-link">Înapoi la homepage.</a></h3>
            {{else}}
                <br><br>
                <h3><a href="/index" class="login-link">Înapoi la homepage.</a></h3>
            {{/if}}
            

        </div>
    </div>
</div>

