
<section class="grid">

    <div id="text-secretariat">
        <h1>Secretariat</h1>
        <br>
        <h2>Universitatea ...</h2>
        <br>

            <div class="facultatea">
                <h3>Facultatea ...</h3>
                    <h4>Strada Nr, Orașul
                    Program: L-V 10-16 
                    emailsecretariat@gmailcom
                    Telefon 1
                    Telefon 2
                    www.facultate.universitate.ro
                    </h4>
            </div>

            <div class="facultatea" style="text-align: right;">
                <h3>Facultatea ...</h3>
                    <h4>Strada Nr, Orașul
                    Program: L-V 10-16 
                    emailsecretariat@gmailcom
                    Telefon 1
                    Telefon 2
                    www.facultate.universitate.ro
                    </h4>
            </div>

            <div class="facultatea">
                <h3>Facultatea ...</h3>
                    <h4>Strada Nr, Orașul
                    Program: L-V 10-16 
                    emailsecretariat@gmailcom
                    Telefon 1
                    Telefon 2
                    www.facultate.universitate.ro
                    </h4>
            </div>

            <div class="facultatea" style="text-align: right;">
                <h3>Facultatea ...</h3>
                    <h4>Strada Nr, Orașul
                    Program: L-V 10-16 
                    emailsecretariat@gmailcom
                    Telefon 1
                    Telefon 2
                    www.facultate.universitate.ro
                    </h4>
            </div>
            
    </div>
    

    <div>
        <img src="/images/logo.svg" id="page-logo" alt="logo">
    </div>

</section>



