@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import url('http://fonts.cdnfonts.com/css/akira-expanded');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap');


*{
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
    text-decoration: none;
}

:root{
    --clr-h1:#141b29; 
    --clr-background-h1:white;
}

body{
    background-color: #010409;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: background 0.3s linear;
}

br {
    display: block;
    margin: 19px 0;
}

/*v---Navigation bar---v*/
    .navbar{
        background-color: #161b22;
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 8vh;
        font-family: "Montserrat",sans-serif;
    }

    #nav-logo{
        letter-spacing: 5px;
        font-size:25px!important;
    }
    #nav-logo a{
        color: white;
        transition:all 0.5s;
        text-decoration: none;
    }
    #nav-logo a:hover{
        color:#c9d1d9;
    }

    .nav-links{
        display: flex;
        justify-content: space-around;
        width:80%;
    }
    .nav-links li{
        list-style: none;
    }
    .nav-links a{
        font-weight: bold;
        font-size: 18px!important;
        color: white;
        transition: all .5s ;
        text-decoration: none;
    }
    .nav-links a:hover{
        color:#c9d1d9;
    }

/*^---Navigation bar---^*/


/*v--COLORBARS--v*/
    .header-colorbar {
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(35,134,54,1) 0%, rgba(0,0,0,1) 50%, rgba(31,111,235,1) 100%); 
        height: 5px;
        width: 100%;
        position: relative;
    }

    .footer-colorbar {
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(35,134,54,1) 0%, rgba(0,0,0,1) 50%, rgba(31,111,235,1) 100%); 
        height: 5px;
        width: 100%;
        position: absolute;
        top:0;
    }
/*^--COLORBARS--^*/

/*v--INDEX--v*/
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #greeting{
        font-family: 'Akira Expanded', sans-serif;
        font-size: 1.5vw;
        text-align: end;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #greeting h1{
        color: var(--clr-h1);
        background-color: var(--clr-background-h1);
        transition: color 0.3s linear;
        transition: background-color 0.3s linear;
    }

    #page-logo{
        max-width: 60%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top:5%;
    }

    @media (max-width:1300px){
        .grid{
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 2fr;
        }

        #greeting{
            font-size: 4vw;
            text-align: center;
            padding-bottom: 0px;
        }

        #page-logo{
            max-width: 60%;
            padding-top: 0px;
        }
    }
/*^--INDEX--^*/

/*v--SECRETARIAT BIBLIOTECA--v*/
#text-secretariat{
    font-family: 'Darker Grotesque', sans-serif;
}

#text-secretariat h1{
    background-color: white;
    text-align: center;
    margin-top: 10%;
    font-family: 'Akira Expanded', sans-serif;
}

#text-secretariat h2{
    color: white;
    text-align: center;
}

#text-secretariat h3{
    color: white;
    margin-left: 10%;
}

#text-secretariat h4{
    color: white;
    white-space: pre-line;
    margin-left: 10%;
}
/*^--SECRETARIAT BIBLIOTECA--^*/

/*v--FOOTER--v*/
    footer {
        width:100%; 
        background-color:#161b22; 
        min-height:100px; 
        padding:10px 0px 25px 0px;
        text-align: center;
        margin-top: auto;
        position: relative;
    }
    footer p {
        width:105%;
        text-align: center;
        margin-top: 50px;
        white-space: pre-line;
        font-size:13px; 
        color:rgb(110, 109, 109); 
        padding-bottom:0px; 
        margin-bottom:8px;
    }
/*^--FOOTER--^*/


